.image-6-icon3 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.fusion-engage3 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 500;
  font-family: inherit;
  white-space: nowrap;
}
.image-6-group {
  align-self: stretch;
  width: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.business2 {
  width: 61px;
  font-weight: 500;
  min-width: 61px;
}
.business2,
.content-creator2,
.videos2 {
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.content-creator2 {
  flex: 1;
  color: var(--color-black);
  min-width: 109px;
  white-space: nowrap;
  cursor: pointer;
}
.videos2 {
  width: 47px;
  font-weight: 500;
  min-width: 47px;
}
.blog1 {
  width: 30px;
  min-width: 30px;
}
.account1,
.blog1,
.login1 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
}
.account1 {
  width: 56px;
  min-width: 56px;
  cursor: pointer;
}
.login1 {
  width: 37px;
  font-size: var(--desktop-b2-regular-size);
  font-family: var(--desktop-b1-regular);
  color: var(--light-white);
  text-align: center;
  min-width: 37px;
}
.business-parent,
.frame-header,
.login-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.login-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-3xs);
  background-color: transparent;
  border-radius: var(--br-5xs);
  background: linear-gradient(89.01deg, #005eff, #0cb8f7);
  justify-content: center;
}
.business-parent,
.frame-header {
  max-width: 100%;
}
.business-parent {
  width: 520px;
  justify-content: center;
  gap: var(--gap-13xl);
  font-size: var(--desktop-b2-regular-size);
  color: var(--grey-grey-2);
}
.frame-header {
  align-self: stretch;
  height: 64px;
  background-color: var(--light-white);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-61xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--desktop-h5-bold-size);
  color: var(--color-black);
  font-family: var(--desktop-b1-regular);
}
.hello-content-creators {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 64px;
  font-weight: 700;
  font-family: inherit;
}
.at-fusionengage-we {
  margin: 0;
  width: 493px;
  position: relative;
  font-size: var(--desktop-h5-bold-size);
  line-height: 28px;
  font-weight: 400;
  font-family: var(--desktop-b1-regular);
  color: var(--grey-grey-1);
  display: inline-block;
  max-width: 100%;
}
.hello-content-creators-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.start-today5 {
  margin: 0;
  width: 113px;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 113px;
}
.start-today-wrapper2 {
  position: absolute;
  top: 4px;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--primary-p1);
  border: 1px solid var(--stroke-blue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-43xl);
  white-space: nowrap;
}
.start-creating-for {
  margin: 0;
  width: 217px;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.start-creating-for-free-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background: linear-gradient(90deg, #005eff, #005eff 0.01%, #0cb8f7);
  border: 1px solid var(--stroke-blue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) var(--padding-3xs);
  white-space: nowrap;
  z-index: 1;
}
.fusion-engage-logo {
  width: 240px;
  height: 52px;
  position: relative;
  text-align: center;
  font-size: var(--desktop-h5-bold-size);
  color: var(--light-white);
  font-family: var(--desktop-b1-regular);
}
.frame-parent13 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
  min-width: 382px;
  max-width: 100%;
}
.frame-child7 {
  height: 506px;
  width: 526px;
  position: relative;
  object-fit: contain;
  max-width: 100%;
}
.frame-parent12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-7xs);
  max-width: 100%;
  font-size: var(--desktop-h1-bold-size);
}
.why-fusion-engage {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 56px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.dive-into-the {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--desktop-h5-bold-size);
  line-height: 28px;
  font-weight: 400;
  font-family: var(--desktop-b1-regular);
  color: var(--grey-grey-1);
  text-align: center;
}
.why-fusion-engage-parent {
  width: 864px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.frame-child8 {
  width: 352px;
  height: 352px;
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--light-white);
  box-shadow: 0 2px 8px rgba(73, 73, 73, 0.2);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.web-searchpana-icon1 {
  height: 180px;
  width: 180px;
  position: relative;
  z-index: 1;
}
.web-searchpana-wrapper {
  align-self: stretch;
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 59px;
  box-sizing: border-box;
}
.by-joining-us,
.get-discovered-and {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  z-index: 1;
}
.by-joining-us {
  font-size: var(--desktop-b2-regular-size);
  line-height: 20px;
  color: var(--grey-grey-1);
}
.get-discovered-and-sell-your-c-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frame-child9,
.rectangle-parent3 {
  border-radius: var(--br-base);
  background-color: var(--light-white);
  box-shadow: 0 2px 8px rgba(73, 73, 73, 0.2);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent3 {
  flex: 0.9085;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-7xl);
  gap: var(--gap-13xl);
  min-width: 264px;
}
.frame-child9 {
  width: 352px;
  height: 352px;
  position: relative;
  display: none;
}
.coinsbro-icon {
  height: 180px;
  width: 180px;
  position: relative;
  z-index: 1;
}
.coinsbro-wrapper {
  align-self: stretch;
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 69px;
  box-sizing: border-box;
}
.maximize-earnings-in {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  z-index: 1;
}
.maximize-inventory-maximize {
  flex: 1;
  position: relative;
  line-height: 20px;
  z-index: 1;
}
.maximize-earnings-in-a-sustain-parent,
.maximize-inventory-maximize-p-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.maximize-inventory-maximize-p-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-3xs);
  font-size: var(--desktop-b2-regular-size);
  color: var(--grey-grey-1);
}
.maximize-earnings-in-a-sustain-parent {
  flex-direction: column;
  gap: var(--gap-xs);
}
.frame-child10,
.rectangle-parent4 {
  border-radius: var(--br-base);
  background-color: var(--light-white);
  box-shadow: 0 2px 8px rgba(73, 73, 73, 0.2);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent4 {
  flex: 0.9695;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-base);
  gap: var(--gap-13xl);
  min-width: 264px;
}
.frame-child10 {
  width: 352px;
  height: 352px;
  position: relative;
  display: none;
}
.happy-studentbro-icon {
  height: 180px;
  width: 180px;
  position: relative;
  z-index: 1;
}
.happy-studentbro-wrapper {
  align-self: stretch;
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 74px;
  box-sizing: border-box;
}
.parking-for-sale {
  flex: 1;
  position: relative;
  line-height: 24px;
  z-index: 1;
}
.parking-for-sale-on-the-market-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
}
.sold-videos-fly {
  align-self: stretch;
  position: relative;
  font-size: var(--desktop-b2-regular-size);
  line-height: 20px;
  color: var(--grey-grey-1);
  z-index: 1;
}
.frame-parent16 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frame-parent14,
.frame-parent15,
.rectangle-parent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent5 {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--light-white);
  box-shadow: 0 2px 8px rgba(73, 73, 73, 0.2);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-xl) 11px;
  gap: var(--gap-13xl);
  min-width: 264px;
}
.frame-parent14,
.frame-parent15 {
  align-self: stretch;
}
.frame-parent15 {
  flex-direction: row;
  gap: var(--gap-13xl);
  text-align: center;
  font-size: var(--desktop-b1-regular-size);
  font-family: var(--desktop-b1-regular);
}
.frame-parent14 {
  flex-direction: column;
  gap: var(--gap-29xl);
}
.how-it-works1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 56px;
  font-weight: 700;
  font-family: inherit;
}
.creation-on-the {
  margin: 0;
  position: relative;
  font-size: var(--desktop-h4-inter-regular-size);
  line-height: 32px;
  font-weight: 400;
  font-family: var(--desktop-b1-regular);
  color: var(--grey-grey-1);
}
.how-it-works-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.ellipse-div {
  height: 26px;
  width: 26px;
  position: relative;
  border-radius: 50%;
  background-color: var(--light-white);
  border: 0 solid var(--primary-p1);
  box-sizing: border-box;
}
.div1 {
  position: relative;
  line-height: 21.7px;
  font-weight: 500;
  display: inline-block;
  min-width: 7.6px;
  z-index: 1;
}
.wrapper {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  margin-left: -17px;
}
.ellipse-parent,
.frame-wrapper2,
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipse-parent {
  background-color: var(--light-white);
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-4xs) var(--padding-7xs) 0;
}
.frame-wrapper2 {
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
}
.frame-child11 {
  height: 64px;
  width: 632px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--light-light-grey);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.pink-bubble-with-video-icon {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.make-awesome-videos {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  z-index: 1;
}
.content-bubbles,
.frame-parent19,
.rectangle-parent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.content-bubbles {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.frame-parent19,
.rectangle-parent6 {
  flex-direction: row;
}
.rectangle-parent6 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--light-light-grey);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  padding: var(--padding-base);
  gap: var(--gap-5xs);
  min-width: 411px;
  font-size: var(--desktop-b1-regular-size);
  color: var(--grey-black-1);
}
.frame-parent19 {
  align-self: stretch;
  flex-wrap: wrap;
  gap: var(--gap-xl);
}
.line-div {
  height: 442px;
  width: 1px;
  position: absolute;
  margin: 0 !important;
  bottom: -305px;
  left: 13px;
  border-right: 1px solid var(--stroke-line);
  box-sizing: border-box;
}
.frame-child12 {
  height: 26px;
  width: 26px;
  position: relative;
  border-radius: 50%;
  background-color: var(--light-white);
  border: 0 solid var(--primary-p1);
  box-sizing: border-box;
}
.div2 {
  position: relative;
  line-height: 21.7px;
  font-weight: 500;
  display: inline-block;
  min-width: 7.6px;
  white-space: nowrap;
  z-index: 1;
}
.container {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  margin-left: -17px;
}
.container,
.ellipse-group,
.frame-wrapper3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipse-group {
  background-color: var(--light-white);
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-4xs) var(--padding-7xs) 0;
}
.frame-wrapper3 {
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
}
.frame-child13 {
  height: 64px;
  width: 632px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--light-light-grey);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.frame-icon,
.sign-up-and {
  position: relative;
  z-index: 1;
}
.frame-icon {
  height: 32px;
  width: 32px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.sign-up-and {
  line-height: 24px;
  font-weight: 500;
}
.sign-up-and-list-them-on-our-m-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 363px;
  max-width: 100%;
}
.rectangle-parent7 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--light-light-grey);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  padding: var(--padding-base) var(--padding-mini) var(--padding-base)
    var(--padding-base);
  gap: var(--gap-5xs);
  min-width: 411px;
  font-size: var(--desktop-b1-regular-size);
  color: var(--grey-black-1);
}
.frame-parent20,
.line-parent,
.rectangle-parent7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent20 {
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap-xl);
}
.line-parent {
  align-self: stretch;
  position: relative;
}
.frame-child14 {
  height: 26px;
  width: 26px;
  position: relative;
  border-radius: 50%;
  background-color: var(--light-white);
  border: 0 solid var(--primary-p1);
  box-sizing: border-box;
}
.div3 {
  position: relative;
  line-height: 21.7px;
  font-weight: 500;
  display: inline-block;
  min-width: 7.6px;
  white-space: nowrap;
  z-index: 1;
}
.frame {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  margin-left: -17px;
}
.ellipse-container,
.frame,
.frame-wrapper4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipse-container {
  background-color: var(--light-white);
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-4xs) var(--padding-7xs) 0;
}
.frame-wrapper4 {
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
}
.frame-child15 {
  height: 64px;
  width: 632px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--light-light-grey);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.check-mark {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.well-verify-and {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  z-index: 1;
}
.frame-parent21,
.rectangle-parent8,
.well-verify-and-suggest-if-ev-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.well-verify-and-suggest-if-ev-wrapper {
  width: 418.3px;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.frame-parent21,
.rectangle-parent8 {
  flex-direction: row;
}
.rectangle-parent8 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--light-light-grey);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  padding: var(--padding-base);
  gap: var(--gap-5xs);
  min-width: 411px;
  font-size: var(--desktop-b1-regular-size);
  color: var(--grey-black-1);
}
.frame-parent21 {
  align-self: stretch;
  flex-wrap: wrap;
  gap: var(--gap-xl);
}
.frame-child16 {
  height: 26px;
  width: 26px;
  position: relative;
  border-radius: 50%;
  background-color: var(--light-white);
  border: 0 solid var(--primary-p1);
  box-sizing: border-box;
}
.div4 {
  position: relative;
  line-height: 21.7px;
  font-weight: 500;
  display: inline-block;
  min-width: 7.6px;
  white-space: nowrap;
  z-index: 1;
}
.wrapper1 {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  margin-left: -17px;
}
.ellipse-parent1,
.frame-wrapper5,
.wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipse-parent1 {
  background-color: var(--light-white);
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-4xs) var(--padding-7xs) 0;
}
.frame-wrapper5 {
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
}
.frame-child17 {
  height: 64px;
  width: 632px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--light-light-grey);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.writing-icon {
  height: 48px;
  width: 48px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.well-publish-it {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  z-index: 1;
}
.frame-parent22,
.rectangle-parent9,
.well-publish-it-and-business-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.well-publish-it-and-business-wrapper {
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
}
.frame-parent22,
.rectangle-parent9 {
  flex-direction: row;
}
.rectangle-parent9 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--light-light-grey);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  padding: 8px var(--padding-base);
  gap: var(--gap-5xs);
  min-width: 411px;
  font-size: var(--desktop-b1-regular-size);
  color: var(--grey-black-1);
}
.frame-parent22 {
  align-self: stretch;
  flex-wrap: wrap;
  gap: var(--gap-xl);
}
.frame-child18 {
  height: 26px;
  width: 26px;
  position: relative;
  border-radius: 50%;
  background-color: var(--light-white);
  border: 0 solid var(--primary-p1);
  box-sizing: border-box;
}
.div5 {
  position: relative;
  line-height: 21.7px;
  font-weight: 500;
  display: inline-block;
  min-width: 7.6px;
  white-space: nowrap;
  z-index: 1;
}
.wrapper2 {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  margin-left: -17px;
}
.ellipse-parent2,
.frame-wrapper6,
.wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipse-parent2 {
  background-color: var(--light-white);
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-4xs) var(--padding-7xs) 0;
}
.frame-wrapper6 {
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
}
.frame-child19 {
  height: 64px;
  width: 632px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--light-light-grey);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.bag-of-dollars {
  height: 30.3px;
  width: 28px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.youll-receive-payment {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  z-index: 1;
}
.youll-receive-payment-easily-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3.1px 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 36px);
}
.rectangle-parent10 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--light-light-grey);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  flex-direction: row;
  padding: 16.9px var(--padding-base) 16.8px;
  gap: var(--gap-5xs);
  min-width: 411px;
  font-size: var(--desktop-b1-regular-size);
  color: var(--grey-black-1);
}
.frame-parent17,
.frame-parent18,
.frame-parent23,
.rectangle-parent10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent23 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-xl);
}
.frame-parent17,
.frame-parent18 {
  flex-direction: column;
  gap: var(--gap-29xl);
}
.frame-parent18 {
  align-self: stretch;
  z-index: 1;
  font-size: var(--desktop-b2-regular-size);
  color: var(--primary-p1);
  font-family: var(--desktop-b1-regular);
}
.frame-parent17 {
  width: 678px;
}
.do-you-have {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 56px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.dont-worry-we {
  margin: 0;
  position: relative;
  font-size: var(--desktop-h4-inter-regular-size);
  line-height: 32px;
  font-weight: 400;
  font-family: var(--desktop-b1-regular);
  color: var(--grey-grey-1);
}
.payment-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.frame-child20 {
  width: 632px;
  height: 104px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--light-light-grey);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.frame-child21,
.how-do-i {
  position: relative;
  z-index: 1;
}
.how-do-i {
  line-height: 24px;
  font-weight: 500;
}
.frame-child21 {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid var(--stroke-line);
  box-sizing: border-box;
}
.working-hours {
  font-weight: 500;
}
.once-clients-purchase-container {
  position: relative;
  font-size: var(--desktop-b2-regular-size);
  line-height: 20px;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.rectangle-parent11,
.social-media-links-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent11 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--light-light-grey);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-mid) var(--padding-xl)
    var(--padding-xl);
  gap: var(--gap-3xs-5);
  max-width: 100%;
}
.social-media-links-inner {
  width: 632px;
  flex-direction: row;
}
.frame-child22 {
  width: 632px;
  height: 104px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--light-light-grey);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.what-types-of {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  z-index: 1;
}
.frame-child23 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--stroke-line);
  box-sizing: border-box;
  z-index: 1;
}
.on-your-dashboard {
  position: relative;
  font-size: var(--desktop-b2-regular-size);
  line-height: 20px;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.rectangle-parent12,
.social-media-links-child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent12 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--light-light-grey);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-mid) var(--padding-xl)
    var(--padding-xl);
  gap: var(--gap-3xs-5);
  max-width: 100%;
}
.social-media-links-child {
  width: 632px;
  flex-direction: row;
}
.frame-child24 {
  width: 632px;
  height: 104px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--light-light-grey);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.can-i-sell {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  z-index: 1;
}
.frame-child25 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--stroke-line);
  box-sizing: border-box;
  z-index: 1;
}
.no-these-will {
  position: relative;
  font-size: var(--desktop-b2-regular-size);
  line-height: 20px;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.rectangle-parent13,
.social-media-links-inner1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent13 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--light-light-grey);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-mid) var(--padding-xl)
    var(--padding-xl);
  gap: var(--gap-3xs-5);
  max-width: 100%;
}
.social-media-links-inner1 {
  width: 632px;
  flex-direction: row;
}
.frame-child26 {
  width: 632px;
  height: 104px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--light-light-grey);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.frame-child27,
.how-do-i1 {
  position: relative;
  z-index: 1;
}
.how-do-i1 {
  line-height: 24px;
  font-weight: 500;
}
.frame-child27 {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid var(--stroke-line);
  box-sizing: border-box;
}
.please-reach-us {
  position: relative;
  font-size: var(--desktop-b2-regular-size);
  line-height: 20px;
  z-index: 1;
}
.rectangle-parent14,
.social-media-links-inner2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent14 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--light-light-grey);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-mid) var(--padding-xl)
    var(--padding-xl);
  gap: var(--gap-3xs-5);
  max-width: 100%;
}
.social-media-links-inner2 {
  width: 632px;
  flex-direction: row;
}
.questions-f-a-q,
.social-media-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.social-media-links {
  width: 632px;
  overflow-x: auto;
  gap: var(--gap-13xl);
  font-size: var(--desktop-b1-regular-size);
  font-family: var(--desktop-b1-regular);
}
.questions-f-a-q {
  gap: var(--gap-29xl);
}
.wondering-about-prices2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 56px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.dont-hesitate-to2 {
  margin: 0;
  position: relative;
  font-size: var(--desktop-h5-bold-size);
  line-height: 28px;
  font-weight: 400;
  font-family: var(--desktop-b1-regular);
  color: var(--grey-grey-1);
}
.wondering-about-prices-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.start-today6 {
  width: 113px;
  position: relative;
  font-size: var(--desktop-h5-bold-size);
  line-height: 28px;
  font-weight: 600;
  font-family: var(--desktop-b1-regular);
  color: var(--light-white);
  text-align: center;
  display: inline-block;
  min-width: 113px;
}
.start-today-wrapper3 {
  position: absolute;
  top: 4px;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--primary-p1);
  border: 1px solid var(--stroke-blue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-17xl);
  white-space: nowrap;
}
.material-symbolscall-sharp-icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.div6 {
  width: 125px;
  position: relative;
  font-size: var(--desktop-b1-regular-size);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--desktop-b1-regular);
  color: var(--light-white);
  text-align: center;
  display: inline-block;
  min-width: 125px;
  white-space: nowrap;
}
.material-symbolscall-sharp-group {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background: linear-gradient(90deg, #005eff, #0cb8f7);
  border: 1px solid var(--stroke-blue);
  box-sizing: border-box;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mini);
  gap: var(--gap-7xs);
  z-index: 1;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 52px;
  flex: 1;
  position: relative;
  min-width: 122px;
}
.start-today7 {
  width: 113px;
  position: relative;
  font-size: var(--desktop-h5-bold-size);
  line-height: 28px;
  font-weight: 600;
  font-family: var(--desktop-b1-regular);
  color: var(--light-white);
  text-align: center;
  display: inline-block;
  min-width: 113px;
}
.start-today-wrapper4 {
  position: absolute;
  top: 4px;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--primary-p1);
  border: 1px solid var(--stroke-blue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-17xl);
  white-space: nowrap;
}
.material-symbols-lightmail-sh-icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.mail2 {
  width: 33px;
  position: relative;
  font-size: var(--desktop-b1-regular-size);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--desktop-b1-regular);
  color: var(--light-white);
  text-align: center;
  display: inline-block;
  min-width: 33px;
}
.material-symbols-lightmail-sh-container {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background: linear-gradient(90deg, #005eff, #0cb8f7);
  border: 1px solid var(--stroke-blue);
  box-sizing: border-box;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-42xl);
  gap: var(--gap-7xs);
  z-index: 1;
}
.frame-parent27 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 52px;
  flex: 1;
  position: relative;
  min-width: 122px;
}
.frame-parent25,
.frame-parent26 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.frame-parent26 {
  width: 408px;
  flex-direction: row;
  flex-wrap: wrap;
}
.frame-parent25 {
  flex-direction: column;
}
.frame-child28 {
  align-self: stretch;
  height: 0.6px;
  position: relative;
  border-top: 0.6px solid var(--grey-grey-3);
  box-sizing: border-box;
}
.image-6-icon4 {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: cover;
}
.fusion-engage4 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 700;
  font-family: inherit;
}
.image-6-container {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.fusion-engage20242 {
  position: relative;
  font-size: var(--desktop-b2-regular-size);
  line-height: 20px;
  color: var(--grey-grey-1);
  text-align: left;
}
.logo-fusion-engage {
  height: 56px;
  width: 176px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.follow-us2 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 71px;
}
.biinstagram-icon2,
.primetwitter-icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.primetwitter-icon2 {
  object-fit: cover;
}
.ant-designlinkedin-filled-icon2,
.fefacebook-icon2 {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ant-designlinkedin-filled-icon2 {
  height: 30px;
  width: 30px;
  min-height: 30px;
}
.biinstagram-group {
  align-self: stretch;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.follow-us-group {
  width: 178px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--desktop-b1-regular-size);
  color: var(--grey-black-1);
}
.logo-fusion-engage-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent24,
.line-group {
  align-self: stretch;
  flex-direction: column;
  color: var(--color-black);
}
.line-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base-4);
  text-align: center;
  font-size: var(--desktop-h5-bold-size);
  font-family: var(--desktop-b1-regular);
}
.frame-parent24 {
  gap: var(--gap-45xl);
  max-width: 100%;
}
.content-creator-inner,
.content-creator1,
.frame-parent24,
.frame-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-section {
  flex: 1;
  flex-direction: column;
  gap: 120px;
  max-width: 100%;
  text-align: left;
  font-size: var(--desktop-h2-bold-size);
  color: var(--grey-black-1);
  font-family: var(--desktop-h2-bold);
}
.content-creator-inner,
.content-creator1 {
  box-sizing: border-box;
}
.content-creator-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-61xl);
  max-width: 100%;
}
.content-creator1 {
  width: 100%;
  position: relative;
  background-color: var(--light-white);
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-45xl);
  letter-spacing: normal;
}
@media screen and (max-width: 1125px) {
  .frame-child7 {
    flex: 1;
  }
  .frame-parent12,
  .frame-parent15 {
    flex-wrap: wrap;
  }
  .frame-parent24 {
    gap: 32px 64px;
  }
  .frame-section {
    gap: 60px 120px;
  }
}
@media screen and (max-width: 1025px) {
  .frame-header {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .hello-content-creators {
    font-size: var(--font-size-19xl);
    line-height: 51px;
  }
  .do-you-have,
  .how-it-works1,
  .why-fusion-engage,
  .wondering-about-prices2 {
    font-size: var(--desktop-h3-montserrat-semi-bold-size);
    line-height: 45px;
  }
}
@media screen and (max-width: 750px) {
  .business-parent {
    display: none;
    gap: 32px 16px;
  }
  .frame-parent13 {
    gap: 18px 36px;
    min-width: 100%;
  }
  .frame-parent15 {
    gap: 32px 16px;
  }
  .frame-parent14 {
    gap: 24px 48px;
  }
  .rectangle-parent6 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .sign-up-and-list-them-on-our-m-wrapper {
    min-width: 100%;
  }
  .rectangle-parent7,
  .rectangle-parent8,
  .rectangle-parent9 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .rectangle-parent10 {
    min-width: 100%;
  }
  .frame-parent17,
  .frame-parent18 {
    gap: 24px 48px;
  }
  .social-media-links {
    gap: 16px 32px;
  }
  .questions-f-a-q {
    gap: 24px 48px;
  }
  .frame-parent24 {
    gap: 16px 64px;
  }
  .frame-section {
    gap: 30px 120px;
  }
  .content-creator-inner {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .content-creator1 {
    gap: 32px 64px;
  }
}
@media screen and (max-width: 450px) {
  .hello-content-creators {
    font-size: var(--font-size-10xl);
    line-height: 38px;
  }
  .at-fusionengage-we {
    font-size: var(--desktop-b1-regular-size);
    line-height: 22px;
  }
  .why-fusion-engage {
    font-size: var(--desktop-h4-inter-regular-size);
    line-height: 34px;
  }
  .dive-into-the {
    font-size: var(--desktop-b1-regular-size);
    line-height: 22px;
  }
  .web-searchpana-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .rectangle-parent3 {
    gap: 16px 32px;
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
    flex: 1;
  }
  .coinsbro-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .rectangle-parent4 {
    gap: 16px 32px;
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
    flex: 1;
  }
  .happy-studentbro-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .rectangle-parent5 {
    gap: 16px 32px;
  }
  .how-it-works1 {
    font-size: var(--desktop-h4-inter-regular-size);
    line-height: 34px;
  }
  .creation-on-the {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .do-you-have {
    font-size: var(--desktop-h4-inter-regular-size);
    line-height: 34px;
  }
  .dont-worry-we {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .wondering-about-prices2 {
    font-size: var(--desktop-h4-inter-regular-size);
    line-height: 34px;
  }
  .dont-hesitate-to2 {
    font-size: var(--desktop-b1-regular-size);
    line-height: 22px;
  }
  .frame-parent26 {
    gap: var(--gap-base);
  }
  .frame-parent25 {
    gap: 16px 32px;
  }
  .fusion-engage4 {
    font-size: var(--desktop-b1-regular-size);
    line-height: 22px;
  }
  .logo-fusion-engage-parent {
    flex-wrap: wrap;
  }
  .content-creator1 {
    gap: 16px 64px;
  }
}
