.image-6-icon {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.fusion-engage {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 500;
  font-family: inherit;
  white-space: nowrap;
}
.list-container {
  align-self: stretch;
  width: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.business1 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  min-width: 62px;
}
.divider {
  width: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--grey-black-1);
}
.content-creator,
.videos {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
}
.content-creator {
  flex: 1;
  min-width: 106px;
  white-space: nowrap;
  cursor: pointer;
}
.videos {
  width: 47px;
  min-width: 47px;
}
.blog {
  width: 30px;
  min-width: 30px;
}
.account,
.blog,
.login {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
}
.account {
  width: 56px;
  min-width: 56px;
  cursor: pointer;
}
.login {
  width: 57px;
  font-size: var(--desktop-b2-regular-size);
  font-family: var(--desktop-b1-regular);
  color: var(--light-white);
  text-align: center;
  min-width: 37px;
}
.conditional-branch,
.dropdown-menu,
.table {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.trying{
  display: flex;
  justify-self: space-between;
  gap:15px;
  align-items: center;
 


}
  .trying button {
  align-items: center;
  margin-top: 4px;
}
.table {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-3xs);
  background-color: transparent;
  border-radius: var(--br-5xs);
  background: linear-gradient(89.01deg, #005eff, #0cb8f7);
  justify-content: center;
  
}
@media only screen and (max-width: 1140px){
  .dropdown-menu{
    flex-direction: column;
  }
  .table{
    flex-direction: column;
  }
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.burger-menu {
  display: none;
  cursor: pointer;
}

.burger-menu div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px;
}
.burger{
  position: absolute;
  cursor: pointer;
  right: 5px;
  top:15p;
  }
  .line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
  }

@media screen and (max-width: 540px) {
 .dropdown-menu {
  display: flex;
  width: 110px;
  padding:10px;
  
  position: absolute;
    gap:20px;
    color: #f2ebeb;
 font-size: 10px;
border: #6E7170;
flex-direction: column;
    margin-top: 20px;

padding-top:50px;
    /* font-weight: 500; */
    overflow: auto;
    z-index: 1;
    /* flex-direction: column; */
    /* right: 4rem; */
    /* top: 1rem; */
    background: rgb(12, 12, 12);
    /* display: flex; */
    border-radius: 10px;
    /* transition: all 200ms ease; */
    /* align-items: flex-start; */
    /* padding: 3rem; */
  }
  .divider{
    color: #f2ebeb;
  }
 .trying{
display: flex;
flex-direction: column;
padding:15px;
margin-top: 130px;
 }
.dropdown-menu .login{
align-items: center;
margin-left: 25px;
}
.dropdown-menu button{
  width: 110px;
  align-items: center;
}
.login{
 margin-right:14px;
  align-items: center;
}

 .burger-menu {
    display: block;
    
  }
}
.conditional-branch,
.dropdown-menu {
  max-width: 100%;
}
.dropdown-menu {
  
  justify-content: center;
  gap: var(--gap-13xl);
  font-size: var(--desktop-b2-regular-size);
  color: var(--grey-grey-2);
}
.conditional-branch {
  align-self: stretch;
  height: 64px;
  background-color: var(--light-white);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-61xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--desktop-h5-bold-size);
  color: var(--color-black);
  font-family: var(--desktop-b1-regular);
}
.buy-exclusive-videos {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 64px;
  font-weight: 700;
  font-family: inherit;
}
.empowering-creators-connectin {
  width: 493px;
  position: relative;
  font-size: var(--desktop-h5-bold-size);
  line-height: 28px;
  font-family: var(--desktop-b1-regular);
  color: var(--grey-grey-1);
  display: inline-block;
  max-width: 100%;
}
.icon {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}






.start-today {
  width: 230px;
  position: relative;
  line-height: 28px;
  font-weight: 600;
  display: inline-block;
  min-width: 113px;
}
.start-today-wrapper {
  position: absolute;
  top: 4px;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--primary-p1);
  border: 1px solid var(--stroke-blue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 42px;
  white-space: nowrap;
}
.start-exploring {
  width: 265px;
  position: relative;
  line-height: 28px;
  font-weight: 600;
  display: inline-block;
}
.start-exploring-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background: linear-gradient(90deg, #005eff, #0cb8f7);
  border: 1px solid var(--stroke-blue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) var(--padding-7xl);
  white-space: nowrap;
  z-index: 1;
}
.frame-parent {
  width: 200px;
  height: 52px;
  position: relative;
  text-align: center;
  font-size: var(--desktop-h5-bold-size);
  color: var(--light-white);
  font-family: var(--desktop-b1-regular);
}
.icon-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
  min-width: 339px;
  max-width: 100%;
}
.frame-child {
  position: absolute;
  top: calc(50% - 59px);
  left: 0;
  width: 236px;
  height: 236px;
  object-fit: contain;
}
.city-icon,
.frame-item {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
}
.frame-item {
  height: 39.22%;
  width: 37.66%;
  top: 0;
  right: 14.5%;
  bottom: 60.78%;
  left: 47.83%;
  max-height: 100%;
}
.city-icon {
  width: calc(100% - 9.2px);
  top: 3.6px;
  right: 4.9px;
  left: 4.3px;
  height: 133.4px;
}
.document-icon,
.floor-icon {
  position: absolute;
  top: 87.3px;
  left: 0.2px;
  width: 206.9px;
  height: 119.3px;
  z-index: 1;
}
.document-icon {
  top: 85.8px;
  left: 0;
  width: 208px;
  height: 122.2px;
  z-index: 2;
}
.gear-icons,
.gear-icons1 {
  position: absolute;
  top: 75.4px;
  left: 7.3px;
  width: 36.3px;
  height: 31.7px;
  z-index: 3;
}
.gear-icons1 {
  top: 68.6px;
  left: 157.6px;
  width: 42.9px;
  height: 36.8px;
}
.puzzle-icon,
.shadows-icon {
  position: absolute;
  top: 86.9px;
  left: 25.4px;
  width: 157.9px;
  height: 104px;
  z-index: 4;
}
.shadows-icon {
  top: 109.6px;
  left: 49.8px;
  width: 92.1px;
  height: 48.2px;
  z-index: 5;
}
.characters-icon,
.light-bulb-icon {
  position: absolute;
  top: 0;
  left: 47.3px;
  width: 100.5px;
  height: 154.7px;
  z-index: 6;
}
.light-bulb-icon {
  top: 5.6px;
  left: 80.5px;
  width: 27.3px;
  height: 29.2px;
  z-index: 7;
}
.speech-bubbles-icon {
  position: absolute;
  top: 9px;
  left: 16.1px;
  width: 161.8px;
  height: 37.3px;
  z-index: 8;
}
.city-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.business-mergeramico {
  position: absolute;
  top: 302px;
  left: 323px;
  width: 208px;
  height: 208px;
}
.frame-inner,
.proximity-icon {
  position: absolute;
  object-fit: contain;
}
.proximity-icon {
  top: 175.1px;
  left: 203px;
  width: 58px;
  height: 55px;
  z-index: 1;
}
.frame-inner {
  top: 332.1px;
  left: 236px;
  width: 72px;
  height: 64px;
}
.frame-group {
  height: 510px;
  flex: 1;
  position: relative;
  min-width: 345px;
  max-width: 100%;
}
.canvas,
.radio-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.canvas {
  flex: 1;
  flex-wrap: wrap;
  gap: 68px;
}
.radio-button {
  align-self: stretch;
  padding: 0 var(--padding-61xl) var(--padding-37xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--desktop-h1-bold-size);
  color: var(--grey-black-1);
  font-family: var(--desktop-h2-bold);
}
.how-it-works {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 56px;
  font-weight: 700;
  font-family: inherit;
}
.follow-these-below {
  align-self: stretch;
  position: relative;
  font-size: var(--desktop-h5-bold-size);
  line-height: 28px;
  font-family: var(--desktop-b1-regular);
  color: var(--grey-grey-1);
  text-align: center;
}
.stacks {
  width: 569px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.rectangle-div {
  width: 352px;
  height: 352px;
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--light-white);
  box-shadow: 0 2px 8px rgba(73, 73, 73, 0.2);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.transforms {
  position: relative;
  line-height: 32px;
  display: inline-block;
  min-width: 10px;
  z-index: 2;
}
.web-searchpana-icon {
  width: 200px;
  height: 200px;
  position: relative;
  z-index: 1;
}
.blending-modes,
.positioning {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.blending-modes {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
}
.positioning {
  height: 207px;
  flex-direction: row;
  gap: 42px;
}
.search-from-hundreds {
  flex: 1;
  position: relative;
  line-height: 28px;
  z-index: 1;
}
.search-from-hundreds-of-videos-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  text-align: center;
  font-size: var(--desktop-h5-bold-size);
  color: var(--grey-black-1);
  font-family: var(--desktop-b1-regular);
}
.frame-child1,
.rectangle-parent {
  border-radius: var(--br-base);
  background-color: var(--light-white);
  box-shadow: 0 2px 8px rgba(73, 73, 73, 0.2);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-4xl) 33px;
  gap: var(--gap-13xl);
  min-width: 264px;
}
.frame-child1 {
  width: 352px;
  height: 352px;
  position: relative;
  display: none;
}
.b {
  position: relative;
  line-height: 32px;
  display: inline-block;
  min-width: 15px;
  z-index: 6;
}
.background-complete-icon {
  position: absolute;
  top: 0.8px;
  left: 0;
  width: 200px;
  height: 193.8px;
}
.background-simple-icon,
.flor-icon {
  position: absolute;
  top: 11px;
  left: 20px;
  width: 164.3px;
  height: 166.6px;
  z-index: 2;
}
.flor-icon {
  top: 193.4px;
  left: 5.3px;
  width: 188.3px;
  height: 0.2px;
}
.boxes-icon,
.vector-icon {
  position: absolute;
  top: 163.5px;
  left: 20px;
  width: 51.7px;
  height: 30.1px;
  z-index: 3;
}
.vector-icon {
  top: 0;
  left: 0;
  width: 104.7px;
  height: 135.9px;
}
.branching-point-icon {
  position: absolute;
  top: 40.4px;
  left: 35.9px;
  width: 52.3px;
  height: 5.9px;
  z-index: 4;
}
.vector-icon1,
.vector-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 14.3px;
  height: 13.6px;
  z-index: 4;
}
.vector-icon2 {
  top: 3.6px;
  left: 2.2px;
  width: 10.2px;
  height: 7.1px;
  z-index: 5;
}
.vector-icon3,
.vector-parent {
  position: absolute;
  top: 36.9px;
  left: 15.9px;
  width: 14.3px;
  height: 13.6px;
}
.vector-icon3 {
  top: 61.5px;
  left: 35.9px;
  width: 52.3px;
  height: 5.9px;
  z-index: 4;
}
.vector-icon4,
.vector-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 14.3px;
  height: 13.6px;
  z-index: 4;
}
.vector-icon5 {
  top: 3.6px;
  left: 2.2px;
  width: 10.2px;
  height: 7.1px;
  z-index: 5;
}
.vector-group,
.vector-icon6 {
  position: absolute;
  top: 58px;
  left: 15.9px;
  width: 14.3px;
  height: 13.6px;
}
.vector-icon6 {
  top: 82.6px;
  left: 35.9px;
  width: 52.3px;
  height: 5.9px;
  z-index: 4;
}
.vector-icon7,
.vector-icon8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 14.3px;
  height: 13.6px;
  z-index: 4;
}
.vector-icon8 {
  top: 3.6px;
  left: 2.2px;
  width: 10.2px;
  height: 7.1px;
  z-index: 5;
}
.vector-container,
.vector-icon9 {
  position: absolute;
  top: 79.1px;
  left: 15.9px;
  width: 14.3px;
  height: 13.6px;
}
.vector-icon9 {
  top: 103.7px;
  left: 35.9px;
  width: 52.3px;
  height: 5.9px;
  z-index: 4;
}
.vector-icon10,
.vector-icon11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 14.3px;
  height: 13.6px;
  z-index: 4;
}
.vector-icon11 {
  top: 3.6px;
  left: 2.2px;
  width: 10.2px;
  height: 7.1px;
  z-index: 5;
}
.frame-div,
.videos1 {
  position: absolute;
  top: 100.2px;
  left: 15.9px;
  width: 14.3px;
  height: 13.6px;
}
.videos1 {
  top: 6.5px;
  left: 27px;
  line-height: 20px;
  display: inline-block;
  width: 50px;
  height: 19px;
  min-width: 50px;
  z-index: 4;
}
.effects,
.output-sort,
.plant-icon {
  position: absolute;
  top: 0;
  left: 17px;
  width: 104.7px;
  height: 135.9px;
}
.effects,
.plant-icon {
  left: 0;
  width: 100%;
  height: 194.6px;
}
.plant-icon {
  top: 121.7px;
  left: 50.9px;
  width: 37.9px;
  height: 64.2px;
  z-index: 3;
}
.character-icon,
.plant-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 92.3px;
  height: 192.4px;
}
.plant-parent {
  top: 7.5px;
  left: 104.6px;
}
.effects-parent {
  align-self: stretch;
  height: 199.9px;
  position: relative;
}
.frame-wrapper,
.parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
  text-align: center;
  font-size: 12px;
  color: var(--color-black);
}
.parent {
  width: 252px;
  flex-direction: row;
  gap: var(--gap-18xl);
}
.select-what-youd {
  flex: 1;
  position: relative;
  line-height: 28px;
  z-index: 1;
}
.select-what-youd-like-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  text-align: center;
  font-size: var(--desktop-h5-bold-size);
  color: var(--grey-black-1);
  font-family: var(--desktop-b1-regular);
}
.frame-child2,
.rectangle-group {
  border-radius: var(--br-base);
  background-color: var(--light-white);
  box-shadow: 0 2px 8px rgba(73, 73, 73, 0.2);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-4xl) 61.1px;
  gap: var(--gap-13xl);
  min-width: 264px;
}
.frame-child2 {
  width: 352px;
  height: 352px;
  position: relative;
  display: none;
}
.b1 {
  position: relative;
  line-height: 32px;
  display: inline-block;
  min-width: 15px;
  z-index: 2;
}
.ecommerce-checkout-laptopamic-icon {
  width: 200px;
  height: 200px;
  position: relative;
  z-index: 1;
}
.ecommerce-checkout-laptopamic-wrapper,
.group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ecommerce-checkout-laptopamic-wrapper {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
}
.group {
  height: 207px;
  flex-direction: row;
  gap: var(--gap-18xl);
}
.checkout {
  flex: 1;
  position: relative;
  line-height: 28px;
  z-index: 1;
}
.checkout-wrapper,
.rectangle-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkout-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-10xs);
  text-align: center;
  font-size: var(--desktop-h5-bold-size);
  color: var(--grey-black-1);
  font-family: var(--desktop-b1-regular);
}
.rectangle-container {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--light-white);
  box-shadow: 0 2px 8px rgba(73, 73, 73, 0.2);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-4xl) var(--padding-42xl);
  gap: var(--gap-13xl);
  min-width: 264px;
  max-width: 100%;
}
.alignment {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-13xl);
  font-size: var(--desktop-h4-inter-regular-size);
  color: var(--grey-grey-3);
}
.alignment,
.layout-rules,
.layout-rules-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.layout-rules {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-29xl);
}
.layout-rules-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-61xl) var(--padding-37xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--desktop-h2-bold-size);
  color: var(--color-black);
  font-family: var(--desktop-h2-bold);
}
.where-can-businesses {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 56px;
  font-weight: 700;
  font-family: inherit;
}
.expanding-opportunities-for,
.with-fusion-engage {
  margin: 0;
}
.expanding-opportunities-for-container {
  position: relative;
  font-size: var(--desktop-h5-bold-size);
  line-height: 28px;
  font-family: var(--desktop-b1-regular);
  color: var(--grey-grey-1);
  display: inline-block;
  max-width: 100%;
}
.macbook-air-36-inner,
.where-can-businesses-use-these-parent {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.where-can-businesses-use-these-parent {
  flex-direction: column;
  gap: var(--gap-base);
}
.macbook-air-36-inner {
  flex-direction: row;
  padding: 140px 0 100px;
  box-sizing: border-box;
  min-width: 369px;
}
.social-mediabro-icon {
  height: 349px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.social-mediabro-wrapper {
  align-self: stretch;
  height: 349px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs-5);
  box-sizing: border-box;
  max-width: 100%;
  
}
.engagements-on-social {
  align-self: stretch;
  position: relative;
  line-height: 28px;
}
.frame-parent1 {
  
  display: flex;
  flex-direction: row;
 
 
  gap: var(--gap-base);
  max-width: 100%;

  
}
.TableBox{
  width:1048px;
  
  top: 527px;
  left: -2101px;
  
  
  
  }
  .TableHead{
  
   
    color: black;
    gap:70px;
  }
  .PrimText{
  
   font-style:bold !important;
   font-weight: 700; 
   line-height: 56px;
   font-size: 40px;
  
  }
  
  .tab-right td{
  text-align:center;
  padding-left:70px;
  
  }
  .SecText{
    margin-left:-240px;
    font-weight: 400px;
    font-size:24px;
    line-height: 32px;
    color:#6E7170;
    
  }
  .TableNew{
    display: flex;
    margin-top:60px;
    gap: 48px;
    margin-left:200px;
  }
  .tab-left{
    color: black;
    width:400px;
    
  background-color:#FFF3F1 ;
  /* border-radius:35px; */
   border:0.5px solid  #A6A6A6; 
 
  
  
  }
  
  th{
    padding:40px;
   
    border-radius:35px;
  
  }
  
 
  
  table,th,td{
    border-collapse: collapse;
  }
  td{
    Width: 400px;
  height:60px;
  text-align:center;
  border:0.09px solid #A6A6A6 ;

 
  
  }
  
  .t-2{
height:60px;


  }
  .t-textsol{
    color: blue;
  }
  .t-text{
    color: red;
  }
  
  .tab-right{
  
    color: black;
    /* border-radius:35px; */
    width:600px;
    
   background-color:#F1FAFF;
   border:0.5px solid #A6A6A6 ;

  
  }
  .tab-right td{
    width: fit-content;

  }
.social-mediaamico-icon {
  height: 333.4px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.social-mediaamico-wrapper {
  align-self: stretch;
  height: 333.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs-5);
  box-sizing: border-box;
  max-width: 100%;
}
.advertising-purposes {
  align-self: stretch;
  position: relative;
  line-height: 28px;
}
.frame-parent2 {
  align-self: stretch;
  height: 377.4px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 44px;
  box-sizing: border-box;
  gap: var(--gap-base);
  max-width: 100%;
  
}
.mobile-feedamico-icon {
  height: 348px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.mobile-feedamico-wrapper {
  align-self: stretch;
  height: 348px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs-5);
  box-sizing: border-box;
  max-width: 100%;
}
.in-app-usage {
  align-self: stretch;
  position: relative;
  line-height: 28px;
}
.frame-parent3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.group-icon {
  height: 268px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.frame-wrapper1 {
  align-self: stretch;
  height: 268px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs-5);
  box-sizing: border-box;
  max-width: 100%;
}
.stories-and-other {
  align-self: stretch;
  position: relative;
  line-height: 28px;
}
.frame-parent4 {
  display: flex;
  align-self: stretch;
  flex-direction:row-reverse;
  gap: var(--gap-base);
}
.frame-container,
.frame-parent4,
.macbook-air-36,
.macbook-air-36-wrapper {
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-container {
  
  
overflow-y: auto;
  flex-shrink: 0;
  flex-direction: column;
  gap: 102px;
  min-width: 363px;
  text-align: center;
  font-size: var(--desktop-h5-bold-size);
  font-family: var(--desktop-b1-regular);
}
.zig-zag{
  width:1000px;
  margin-top: 150px;
  
}
.macbook-air-36,
.macbook-air-36-wrapper {
  flex-direction: row;
  box-sizing: border-box;
}
.macbook-air-36 {
  flex: 1;
  background-color: var(--light-white);
  overflow: hidden;
  padding: 0 var(--padding-61xl) 0.6px;
  gap: 189px;
}
.macbook-air-36-wrapper {
  align-self: stretch;
  padding: 0 0 var(--padding-37xl);
  text-align: left;
  font-size: var(--desktop-h2-bold-size);
  color: var(--grey-black-1);
  font-family: var(--desktop-h2-bold);
}
.start-today1 {
  position: relative;
  line-height: 28px;
  font-weight: 600;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
}
.start-today-container {
  width: 188px;
  border-radius: var(--br-base);
  background-color: var(--primary-p1);
  border: 1px solid var(--stroke-blue);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  white-space: nowrap;
}
.material-symbolscall-sharp-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div {
  position: relative;
  line-height: 24px;
  font-weight: 600;
  white-space: nowrap;
  flex-shrink: 0;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
}
.material-symbolscall-sharp-parent {
  width: 188px;
  height: 48px;
  border-radius: var(--br-base);
  background: linear-gradient(90deg, #005eff, #0cb8f7);
  border: 1px solid var(--stroke-blue);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  gap: var(--gap-7xs);
  font-size: var(--desktop-b1-regular-size);
}
.start-today2 {
  position: relative;
  line-height: 28px;
  font-weight: 600;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
}
.start-today-frame {
  width: 188px;
  border-radius: var(--br-base);
  background-color: var(--primary-p1);
  border: 1px solid var(--stroke-blue);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  white-space: nowrap;
}
.material-symbols-lightmail-sh-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.mail {
  position: relative;
  line-height: 24px;
  font-weight: 600;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
}
.material-symbols-lightmail-sh-parent {
  width: 188px;
  height: 48px;
  border-radius: var(--br-base);
  background: linear-gradient(90deg, #005eff, #0cb8f7);
  border: 1px solid var(--stroke-blue);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  gap: var(--gap-7xs);
  font-size: var(--desktop-b1-regular-size);
}
.testimonials {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 56px;
  font-weight: 700;
  font-family: inherit;
}
.see-some-of {
  position: relative;
  font-size: var(--desktop-h4-inter-regular-size);
  line-height: 32px;
  font-family: var(--desktop-b1-regular);
  color: var(--grey-grey-1);
}
.testimonials-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.frame-child3 {
  position: absolute;
  top: 4px;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--primary-p1);
  border: 1px solid var(--stroke-blue);
  box-sizing: border-box;
  width: 60px;
  height: 48px;
}
.mingcuteup-line-icon {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.mingcuteup-line-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background: linear-gradient(90deg, #005eff, #0cb8f7);
  border: 1px solid var(--stroke-blue);
  box-sizing: border-box;
  width: 60px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
  z-index: 1;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 52px;
  flex: 1;
  position: relative;
}
.frame-child4 {
  position: absolute;
  top: 4px;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--primary-p1);
  border: 1px solid var(--stroke-blue);
  box-sizing: border-box;
  width: 60px;
  height: 48px;
}
.mingcuteup-line-icon1 {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.mingcuteup-line-container {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background: linear-gradient(90deg, #005eff, #0cb8f7);
  border: 1px solid var(--stroke-blue);
  box-sizing: border-box;
  width: 60px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
  z-index: 1;
}
.frame-parent8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 52px;
  flex: 1;
  position: relative;
}
.frame-parent6,
.frame-parent7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent7 {
  width: 152px;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.frame-parent6 {
  align-self: stretch;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-child5 {
  height: 320px;
  width: 617px;
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--light-white);
  box-shadow: 0 2px 8px rgba(73, 73, 73, 0.2);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.rectangle-icon {
  height: 64px;
  width: 64px;
  position: relative;
  border-radius: var(--br-13xl);
  object-fit: cover;
}
.prahlad-mittal {
  display: inline-block;
  min-width: 113px;
}
.founder-ceo,
.prahlad-mittal {
  position: relative;
  line-height: 24px;
}
.function-nest {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.data-aggregator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.i-wanted-to {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  color: var(--grey-grey-1);
}
.data-aggregator-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
  z-index: 1;
}


.frame-child6,
.group-div {
  border-radius: var(--br-base);
  background-color: var(--light-white);
  box-shadow: 0 2px 8px rgba(73, 73, 73, 0.2);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  max-width: 100%;
}
.group-div {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl);
  min-width: 401px;
}
.rectangle-parent2new {
  width: 472px;
  border-radius: var(--br-base);
  background-color: var(--light-white);
  box-shadow: 0 2px 8px rgba(73, 73, 73, 0.2);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-13xl);
  min-width: 472px;
  min-height: 320px;
}
.cards {
  display: flex;

}

.card {
  width: 200px;

  background-color: #f0f0f0;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
button {
  margin-top: 20px;
}
.bc-button{
  display: none;
}
.frame-child6 {
  height: 320px;
  width: 472px;      
  position: relative;
  display: none;
}
.rectangle-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
  border-radius: var(--br-13xl);
  object-fit: cover;
}
.manish-nair {
  display: inline-block;
  min-width: 93px;
}
.founder-cbo,
.manish-nair {
  position: relative;
  line-height: 24px;
}
.manish-nair-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.rectangle-parent2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.we-used-to {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  color: var(--grey-grey-1);
}
.frame-parent10,
.rectangle-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent10 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
  z-index: 1;
}
.rectangle-parent1 {
  width: 472px;
  border-radius: var(--br-base);
  background-color: var(--light-white);
  box-shadow: 0 2px 8px rgba(73, 73, 73, 0.2);
  border: 1px solid var(--stroke-box-stroke);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-13xl);
  min-width: 472px;
  min-height: 320px;
}
.frame-parent9 {
  align-self: stretch;
  flex-direction: row;
  gap: 31px;
  font-size: var(--desktop-b1-regular-size);
  font-family: var(--desktop-b1-regular);
}
.business-inner,
.frame-parent5,
.frame-parent9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent5 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-29xl);
}
.business-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-61xl) 96px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--desktop-h2-bold-size);
  color: var(--grey-black-1);
  font-family: var(--desktop-h2-bold);
}
.wondering-about-prices,
.wondering-about-prices1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 56px;
  font-weight: 700;
  font-family: inherit;
}
.wondering-about-prices1 {
  z-index: 1;
  margin: 0 0 0-532px;
}
.variable-holder {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.dont-hesitate-to,
.dont-hesitate-to1 {
  position: relative;
  line-height: 28px;
}
.dont-hesitate-to1 {
  z-index: 1;
  margin-left: -772px;
}
.logic-tree,
.loop-controller {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logic-tree {
  flex-direction: row;
  font-size: var(--desktop-h5-bold-size);
  color: var(--grey-grey-1);
  font-family: var(--desktop-b1-regular);
}
.loop-controller {
  flex-direction: column;
  gap: var(--gap-xs);
  max-width: 100%;
}
.start-today3 {
  width: 113px;
  position: relative;
  font-size: var(--desktop-h5-bold-size);
  line-height: 28px;
  font-weight: 600;
  font-family: var(--desktop-b1-regular);
  color: var(--light-white);
  text-align: center;
  display: inline-block;
  min-width: 113px;
}
.algorithm-architect {
  position: absolute;
  top: 4px;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--primary-p1);
  border: 1px solid var(--stroke-blue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-17xl);
  white-space: nowrap;
  z-index: 2;
}
.material-symbolscall-sharp-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.tree-traverser {
  width: 125px;
  position: relative;
  font-size: var(--desktop-b1-regular-size);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--desktop-b1-regular);
  color: var(--light-white);
  text-align: center;
  display: inline-block;
  min-width: 125px;
  white-space: nowrap;
}
.database-manager {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background: linear-gradient(90deg, #005eff, #0cb8f7);
  border: 1px solid var(--stroke-blue);
  box-sizing: border-box;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mini);
  gap: var(--gap-7xs);
  z-index: 3;
}
.matrix-manipulator {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 52px;
  flex: 1;
  position: relative;
  min-width: 122px;
}
.start-today4 {
  width: 113px;
  position: relative;
  font-size: var(--desktop-h5-bold-size);
  line-height: 28px;
  font-weight: 600;
  font-family: var(--desktop-b1-regular);
  color: var(--light-white);
  text-align: center;
  display: inline-block;
  min-width: 113px;
}
.start-today-wrapper1 {
  position: absolute;
  top: 4px;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--primary-p1);
  border: 1px solid var(--stroke-blue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-17xl);
  white-space: nowrap;
  z-index: 2;
}
.material-symbols-lightmail-sh-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.mail1 {
  width: 33px;
  position: relative;
  font-size: var(--desktop-b1-regular-size);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--desktop-b1-regular);
  color: var(--light-white);
  text-align: center;
  display: inline-block;
  min-width: 33px;
}
.material-symbols-lightmail-sh-group {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background: linear-gradient(90deg, #005eff, #0cb8f7);
  border: 1px solid var(--stroke-blue);
  box-sizing: border-box;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-42xl);
  gap: var(--gap-7xs);
  z-index: 3;
}
.matrix-manipulator1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 52px;
  flex: 1;
  position: relative;
  min-width: 122px;
}
.error-handler,
.matrix-manipulator-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.matrix-manipulator-parent {
  width: 408px;
  flex-direction: row;
  flex-wrap: wrap;
}
.error-handler {
  flex-direction: column;
}
.pattern-matcher,
.pattern-matcher1 {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 0.6px solid var(--grey-grey-3);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.pattern-matcher1 {
  z-index: 1;
}
.string-transformer {
  align-self: stretch;
  height: 0.6px;
  position: relative;
}
.image-6-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: cover;
}
.fusion-engage1 {
  flex: 1;
  position: relative;
  line-height: 28px;
}
.audio-processor {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.fusion-engage2024 {
  position: relative;
  font-size: var(--desktop-b2-regular-size);
  line-height: 20px;
  color: var(--grey-grey-1);
  text-align: left;
}
.image-processor {
  height: 56px;
  width: 176px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.follow-us {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 71px;
}
.biinstagram-icon,
.primetwitter-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.primetwitter-icon {
  object-fit: cover;
}
.ant-designlinkedin-filled-icon,
.fefacebook-icon {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ant-designlinkedin-filled-icon {
  height: 30px;
  width: 30px;
  min-height: 30px;
}
.web-crawler {
  align-self: stretch;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.script-interpreter {
  width: 178px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--desktop-b1-regular-size);
}
.data-merger {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.image-6-icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: cover;
}
.fusion-engage2 {
  flex: 1;
  position: relative;
  line-height: 28px;
}
.image-6-parent {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.fusion-engage20241 {
  position: relative;
  font-size: var(--desktop-b2-regular-size);
  line-height: 20px;
  color: var(--grey-grey-1);
  text-align: left;
}
.frame-parent11 {
  height: 56px;
  width: 176px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.follow-us1 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 71px;
}
.biinstagram-icon1,
.primetwitter-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.primetwitter-icon1 {
  object-fit: cover;
}
.ant-designlinkedin-filled-icon1,
.fefacebook-icon1 {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ant-designlinkedin-filled-icon1 {
  height: 30px;
  width: 30px;
  min-height: 30px;
}
.biinstagram-parent {
  align-self: stretch;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.follow-us-parent {
  width: 178px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--desktop-b1-regular-size);
}
.data-merger1,
.filter-function {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.data-merger1 {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 1;
  margin-left: -1120px;
}
.filter-function {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.data-validator {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-base-4);
  max-width: 100%;
  text-align: center;
  font-size: var(--desktop-h5-bold-size);
  color: var(--grey-black-1);
  font-family: var(--desktop-b1-regular);
  padding-top: 40px;
  
}
.business,
.data-validator,
.link-connector
 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}



.link-connector {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-45xl);
  max-width: 100%;
}
.business,
.output-collector {
  box-sizing: border-box;
}
.output-collector {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-61xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--desktop-h2-bold-size);
  color: var(--grey-black-1);
  font-family: var(--desktop-h2-bold);
}
.business {
  width: 100%;
  position: relative;
  background-color: var(--light-white);
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-45xl);
  letter-spacing: normal;
  text-align: center;
  font-size: var(--desktop-h5-bold-size);
  color: var(--light-white);
  font-family: var(--desktop-b1-regular);
}
@media screen and (max-width: 740px) {
  .canvas {
    gap: 34px;
  }
  .macbook-air-36-wrapper {
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
  }
  .link-connector {
    gap: 32px 64px;
  }
}
@media screen and (max-width: 740px) {
  .conditional-branch {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .buy-exclusive-videos {
    font-size: var(--font-size-19xl);
    line-height: 51px;
  }
  .how-it-works,
  .where-can-businesses {
    font-size: var(--desktop-h3-montserrat-semi-bold-size);
    line-height: 45px;
  }
  .frame-container {
    flex: 1;
  }
  .macbook-air-36 {
    flex-wrap: wrap;
  }
  .macbook-air-36-wrapper {
    padding-bottom: var(--padding-4xl);
    box-sizing: border-box;
  }
  .testimonials {
    font-size: var(--desktop-h3-montserrat-semi-bold-size);
    line-height: 45px;
  }
  .frame-parent6 {
    flex-wrap: wrap;
  }
  .rectangle-parent1 {
    flex: 1;
    min-height: auto;
  }
  .frame-parent9 {
    flex-wrap: wrap;
  }
  .wondering-about-prices,
  .wondering-about-prices1 {
    font-size: var(--desktop-h3-montserrat-semi-bold-size);
    line-height: 45px;
  }
}
@media screen and (max-width: 740px) {
  .dropdown-menu {
    display: none;
    gap: 32px 16px;
  }
  .icon-parent {
    gap: 18px 36px;
  }
  .frame-group,
  .icon-parent {
    min-width: 100%;
  }
  .canvas {
    gap: 17px;
  }
  .radio-button {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
  }
  .alignment {
    gap: var(--gap-base);
  }
  .layout-rules {
    gap: 24px 48px;
  }
  .layout-rules-wrapper {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
  }
  .frame-container,
  .macbook-air-36-inner {
    min-width: 100%;
  }
  .cards {
    display: flex;
flex-direction: column;
    overflow: hidden;
  }
  
  .card {
    width: 200px;
    height: 150px;
    background-color: #f0f0f0;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  
  button {
    margin-top: 20px;
  }
  .macbook-air-36 {
    gap: 189px 94px;
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .macbook-air-36-wrapper {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .group-div,
  .rectangle-parent1 {
    min-width: 100%;
  }
  .frame-parent9 {
    gap: 31px 15px;
  }
  .frame-parent5 {
    gap: 24px 48px;
  }
  .business-inner {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    padding-bottom: var(--padding-43xl);
    box-sizing: border-box;
  }
  .link-connector {
    gap: 16px 64px;
  }
  .output-collector {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .business {
    gap: 32px 64px;
  }
}
@media screen and (max-width: 740px) {
  .buy-exclusive-videos {
    font-size: var(--font-size-10xl);
    line-height: 38px;
  }
  .empowering-creators-connectin {
    font-size: var(--desktop-b1-regular-size);
    line-height: 22px;
  }
  .how-it-works {
    font-size: var(--desktop-h4-inter-regular-size);
    line-height: 34px;
  }
  .follow-these-below {
    font-size: var(--desktop-b1-regular-size);
    line-height: 22px;
  }
  .transforms {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .positioning {
    gap: 42px 21px;
  }
  .search-from-hundreds {
    font-size: var(--desktop-b1-regular-size);
    line-height: 22px;
  }
  .rectangle-parent {
    gap: 16px 32px;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .b {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .parent {
    gap: 37px 18px;
  }
  .select-what-youd {
    font-size: var(--desktop-b1-regular-size);
    line-height: 22px;
  }
  .rectangle-group {
    gap: 16px 32px;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-21xl);
    box-sizing: border-box;
  }
  .b1 {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .group {
    gap: 37px 18px;
  }
  .checkout {
    font-size: var(--desktop-b1-regular-size);
    line-height: 22px;
  }
  .rectangle-container {
    gap: 16px 32px;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-21xl);
    box-sizing: border-box;
  }
  .where-can-businesses {
    font-size: var(--desktop-h4-inter-regular-size);
    line-height: 34px;
  }
  .expanding-opportunities-for-container {
    font-size: var(--desktop-b1-regular-size);
    line-height: 22px;
  }
  .macbook-air-36-inner {
    padding-top: 91px;
    padding-bottom: 65px;
    box-sizing: border-box;
  }
  .advertising-purposes,
  .engagements-on-social {
    font-size: var(--desktop-b1-regular-size);
    line-height: 22px;
  }
  .frame-parent2 {
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
  .in-app-usage,
  .stories-and-other {
    font-size: var(--desktop-b1-regular-size);
    line-height: 22px;
  }
  .frame-container {
    gap: 51px 102px;
  }
  .macbook-air-36 {
    gap: 189px 47px;
  }
  .testimonials {
    font-size: var(--desktop-h4-inter-regular-size);
    line-height: 34px;
  }
  .see-some-of {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .data-aggregator,
  .rectangle-parent2 {
    flex-wrap: wrap;
  }
  .wondering-about-prices,
  .wondering-about-prices1 {
    font-size: var(--desktop-h4-inter-regular-size);
    line-height: 34px;
  }
  .dont-hesitate-to,
  .dont-hesitate-to1 {
    font-size: var(--desktop-b1-regular-size);
    line-height: 22px;
  }
  .matrix-manipulator-parent {
    gap: var(--gap-base);
  }
  .error-handler {
    gap: 16px 32px;
  }
  .fusion-engage1 {
    font-size: var(--desktop-b1-regular-size);
    line-height: 22px;
  }
  .data-merger {
    flex-wrap: wrap;
  }
  .fusion-engage2 {
    font-size: var(--desktop-b1-regular-size);
    line-height: 22px;
  }
  .data-merger1 {
    flex-wrap: wrap;
  }
  .business {
    gap: 16px 64px;
  }
}

@media screen and (max-width: 740px) {
  .frame-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .where-can-businesses {
    font-size: 20px;
  }

  .expanding-opportunities-for,
  .with-fusion-engage {
    font-size: 16px;
  }

  .engagements-on-social,
  .advertising-purposes,
  .in-app-usage,
  .stories-and-other {
    font-size: 14px;
  }
}

/* table css mobile*/
@media screen and (max-width: 740px) {
  .PrimText {
    font-size: 20px;
  }

  .SecText {
    font-size: 16px;
  }
  .TableNew{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width:40px;
  }


  /* .tab-left{
    display: flex;
    flex-direction: column-reverse;
  }*/
  .tab-right {
    width:365px;
    margin-right:-40px;
  } 

  

  .t-2 {
    /* display: flex; */
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 740px) {
 .group-div{
width: 100%;
height: 100%;
 }
 .group-button{
  margin-left: 60px;
 }
 .frame-parent8{
  margin-left: 80px;
 }

  

}
@media screen and (max-width: 740px) {
 .matrix-manipulator-parent{
  width: 50px;
margin-left: 40px;

 
 }

}

/* testomonial */
@media screen and (max-width: 740px) {
  .testimonials {
    font-size: 20px;
  }

  .see-some-of {
    font-size: 16px;
  }
  .group-div card{
    display: flex;
    flex-direction: column-reverse;
  }

  .card {
    display: flex;
    flex-direction:column ;
    flex: 2 2 100%;

    /* One card per row on smaller screens */
    max-width: 100%;
  }
}